# Ignore directories where downloaded and extracted datasets are stored
downloads/
dataset/cifar

# Ignore any temporary or backup files
*.tmp
*.bak
*.swp
*.swo

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore tar and gzip files
*.tar
*.tar.gz
*.tgz

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
dataset/cifar-10-batches-py/batches.meta
dataset/cifar-10-batches-py/data_batch_1
dataset/cifar-10-batches-py/data_batch_2
dataset/cifar-10-batches-py/data_batch_3
dataset/cifar-10-batches-py/data_batch_4
dataset/cifar-10-batches-py/data_batch_5
dataset/cifar-10-batches-py/test_batch
